%fieldset.checklist
  - if !params['checkedElem'].nil?
    .checkbox
      %label
        %input{:type => "checkbox", :id => params['allElem'], :value => params['allElemVal']}/
        all
        %br
    - @data_to_display.each do |elem|
      .checkbox
        %label
          %input{:type => "checkbox", :id => "#{params['sec']}" << "#{elem[@column]}",:value => "#{elem[@column]}", :name => "#{params['checkName']}"}/
          = elem[@column]
          %br
