#comp-data
  %p dataset
  %form{:id => "compdata", :action => "/comp-search", :method => 'post'}
    .comp-select#comp-library
      %fieldset
        %input{:type => "checkbox", :id => "c_all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :id => "c_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .comp-select#comp-selection

    .comp-select#comp-dataset

  %legend dominance
  %label max.
  %input{:type => "text", :size => 5, :name => "comp_dom_max",:id => "comp_dom_max"}
  %label min.
  %input{:type => "text", :size => 5, :name => "comp_dom_min", :id => "comp_dom_min"}


#ref-data
  %p reference dataset
  %form{:id => "refdata", :action => "/comp-search", :method => 'post'}
    .ref-select#ref-library
      %fieldset
        %input{:type => "checkbox", :id => "r_all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :id => "r_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .ref-select#ref-selection

    .ref-select#ref-dataset
  %legend dominance
  %label max.
  %input{:type => "text", :size => 5,:name => "ref_dom_max", :id => "ref_dom_max"}
  %label min.
  %input{:type => "text", :size => 5,:name => "ref_dom_min", :id => "ref_dom_min"}
    
  #comp-buttons
    %input{:type => "button", :id => "clear-button",:value => "clear selection"}
    %input{:type => "button", :id => "compare", :value => "compare selected"}

#results

