#comp-dataset
  %form{:id => "complib", :action => "/comp-search", :method => 'post'}
    .check-select#check-library
      %fieldset
        %input{:type => "checkbox", :name => "checked_lib_comp[]", :id => "all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :name => "checked_lib_comp[]", :id => "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .check-select#check-selection

    .check-select#check-dataset
    %input{:type => "button", :id => "clear-button",:value => "clear selection"}

- if !params['checked_ds'].nil? 
  %p 
    peptides in all selected datasets
    = partial :tables, locals: {table_id:"show_table", choice:"all_ds", first_data_to_display:@peptides, second_data_to_display:@peptides.where(:sequencing_datasets__dataset_name => params['checked_ds'])} 

- if !params[:pep_seq].nil?
  all data on peptide
  = params[:pep_seq]
  = partial :info_tables, locals: {data_to_display:@peptide_info.where(:peptides__peptide_sequence => "#{params[:pep_seq]}")}#, :sequencing_datasets__dataset_name => "#{params[:set_name]}")}


