%input{:type => "hidden", :id => "navbarsec", :value => "clusearch"}
%input{:type =>"hidden", :value => "comparative", :id => "reftype"}
= partial :modal, locals: {id:"infomodal",modal_title:"Comparative cluster search details", modal_category:"cluster-search", modal_type:"Comparative-search"} 
.page-header
  %h2 
    comparative cluster search 
    %button.btn-xs.btn-info{"data-toggle"=>"modal", "data-target"=>"#infomodal"} details 
%h4 investigated sequencing dataset
%form.form-horizontal{:id => "compclsub", :action => "#{url '/comparative-cluster-results'}", :method => 'get'}
  .form-group
    .col-md-3.check-select#comp-library
      %fieldset
        .checkbox
          %label
            all
            %input{:type => "checkbox", :id => "c_all_lib",:value => "all_lib"}/
        - @libraries.each do |elem|
          .checkbox
            %label
              = elem[:library_name]
              %input{:type => "checkbox", :id => "c_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
      
    .col-md-3.check-select#comp-selection

    .col-md-3.check-select#comp-dataset
    .col-md-3
      %fieldset.search-params
        %legend.search-params dominance
        %label.control-label{:for=>"ds_dom_min"} min.
        %input.form-control{:type => "text", :name => "ds_dom_min", :id => "ds_dom_min", :value => 0.0001}


  .form-group
    %h4 references 
    .col-md-3.check-select#ref-library
      %fieldset.checklist
        .checkbox
          %label
            all
            %input{:type => "checkbox", :id => "r_all_lib",:value => "all_lib"}/
        - @libraries.each do |elem|
          .checkbox
            %label
              = elem[:library_name]
              %input{:type => "checkbox", :id => "r_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/

    .col-md-3.check-select#ref-selection

    .col-md-3.check-select#ref-dataset
    .col-md-3
      %fieldset.search-params
        %legend.search-params dominance
        %label.control-label{:for => "ref_dom_min"} min.
        %input.form-control{:type => "text", :name => "ref_dom_min", :id => "ref_dom_min", :value => 0.000001}

  .form-group
    .col-md-3 
      %fieldset.search-params
        %legend.search-params search options:   
        %label.control-label{:for => "simsc"} min. similarity score:
        %input.form-control{:type => "text", :name => "simsc", :id=> "simsc", :value => 0.6 }
  .form-group
    .col-md-3
      %fieldset.checklist
        %input.btn.btn-primary{:type => "submit", :id => "ccsearchb", :value => "compare"}
        %input.btn{:type => "button", :id => "clear-button",:value => "clear selection"}
        = image_tag("/images/ajax-loader.gif", :class => "loading", :hidden => true)
#compclresults

#infos
