%input{:type => "hidden", :id => "navbarsec", :value => "pepsearch"}
%input{:type =>"hidden", :value => "comparative", :id => "reftype"}
= partial :modal, locals: {modal_title:"Comparative peptide search details", modal_category:"peptide-search", modal_type:"Comparative-search"}
.page-header
  %h2
    Comparative peptide search
    %button.btn-xs.btn-info{"data-toggle"=>"modal", "data-target"=>"#infomodal"} more info

%h4 investigated sequencing dataset
%form.form-horizontal{:id => "compdata", :action => "#{url '/comparative-results'}", :method => 'get'}
  .form-group
    .col-md-3.check-select#comp-library
      %fieldset.checklist
        .checkbox
          %label
            all
            %input{:type => "checkbox", :id => "c_all_lib",:value => "all_lib"}/ 
        - @libraries.each do |elem|
          .checkbox
            %label
              = elem[:library_name]
              %input{:type => "checkbox", :id => "c_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/

    .col-md-3.check-select#comp-selection

    .col-md-3.check-select#comp-dataset
    .col-md-3
      %fieldset.search-params
        %legend.search-params dominance
        %label.control-label{:for => "ds_dom_max"} max.
        %input{:type => "text", :size => 5, :name => "ds_dom_max",:id => "ds_dom_max"}
        %label.control-label{:for => "ds_dom_min"} min.
        %input{:type => "text", :size => 5, :name => "ds_dom_min", :id => "ds_dom_min", :value => 0.0001}

  .form-group
    %h4 references
    .col-md-3.check-select#ref-library
      %fieldset.checklist
        .checkbox
          %label
            all
            %input{:type => "checkbox", :id => "r_all_lib",:value => "all_lib"}/ 
        - @libraries.each do |elem|
          .checkbox
            %label
              = elem[:library_name]
              %input{:type => "checkbox", :id => "r_" << "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/

    .col-md-3.check-select#ref-selection

    .col-md-3.check-select#ref-dataset
    .col-md-3
      %fieldset.search-params
        %legend.search-params dominance
        %label.control-label{:for => "ref_dom_max"} max.
        %input{:type => "text", :size => 5,:name => "ref_dom_max", :id => "ref_dom_max"}
        %label.control-label{:for => "ref_dom_min"} min.
        %input{:type => "text", :size => 5,:name => "ref_dom_min", :id => "ref_dom_min", :value => 0.000001}
  .form-group 
    %input.btn{:type => "submit", :id => "compare", :value => "compare selected"}
    %input.btn{:type => "button", :id => "clear-button",:value => "clear selection"}
    = image_tag("/images/ajax-loader.gif", :class => "loading", :hidden => true)

.row
  .col-md-12
    #comppepresults{:hidden => true}
.row
  #infos
