%h3 Add Sequencing Dataset
%form{:id => "adddata", :action => "#{url '/validate-data'}", :method => "post", :enctype => "multipart/form-data", :target => "notify"}
  %input{:type => "hidden", :value => "dataset", :name => "submittype", :id =>"submittype"}
  %fieldset.dsform
    %legend sequencing dataset information:
    %p
      %label{:for => "dsname"}
        %span name:
        %input{:type => "text", :name => "dsname", :id => "dsname", :required => true} 
        %strong
          %abbr{:title => "required"}*
    %p
      %label{:for => "date"}
        %span date:
        %input{:type => "text", :name => "date", :id => "date", :placeholder => "yyyy-mm-dd"} 
    %p
      = partial :datalist, locals: {req: false, label:"rt", fieldname:"read type:", listname:"rtlist", listlabel:"fbrt", dbdata:@ds_infos.group(:read_type), columnname: :read_type}
    %p
      = partial :datalist, locals: {req: false, label:"ui", fieldname:"used indices:", listname:"uilist", listlabel:"fbui", dbdata:@ds_infos.group(:used_indices), columnname: :used_indices}
    %p
      = partial :datalist, locals: {req: false, label:"or", fieldname:"origin:", listname:"orlist", listlabel:"fbor", dbdata:@ds_infos.group(:origin), columnname: :origin}
    %p
      = partial :datalist, locals: {req: false, label:"prod", fieldname:"produced by:", listname:"prodlist", listlabel:"fbprod", dbdata:@ds_infos.group(:produced_by), columnname: :produced_by}
    %p
      = partial :datalist, locals: {req: false, label:"seq", fieldname:"sequencer:", listname:"seqlist", listlabel:"fbseq", dbdata:@ds_infos.group(:sequencer), columnname: :sequencer}
    %p
      = partial :datalist, locals: {req: false, label:"selr", fieldname:"selection round:", listname:"selrlist", listlabel:"fbselr", dbdata:@ds_infos.group(:selection_round), columnname: :selection_round}
    %p
      = partial :datalist, locals: {req: false, label:"seql", fieldname:"sequence length:", listname:"seqllist", listlabel:"fbseql", dbdata:@ds_infos.group(:sequence_length), columnname: :sequence_length}
  %fieldset.dsform
    %legend sequencing target:
    %p
      %label{:for => "dspecies"}
        %span species:
        = partial :formdrop, locals:{para: "dspecies", values:@species, column: :species, required: false}
    %p
      %label{:for => "dtissue"}
        %span tissue:
        %select{:name => "dtissue", :id => "dtissue"}
    %p
      %label{:for => "dcell"}
        %span cell:
        %select{:name => "dcell", :id => "dcell"}
  %fieldset.dsform
    %legend 
      related entities:
      %strong 
        %abbr{:title => "required"}*
    %p
      %label{:for => "dselname"}
        %span selection:
        = partial :formdrop, locals:{para: "dselname", values:@selections, column: :selection_name, required: true}
  %fieldset.dsform
    %legend data files:
    %p
      %label{:for => "pepfile"}
        %span peptide sequences file:
        %input{:type => "file", :name => "pepfile", :id => "pepfile"}
  %input{:type => "submit", :value => "add sequencing dataset"}
  %input{:type => "reset"}
#respage
  %iframe{:name => "notify", :id =>"notify"}
