%h3 Browse by Sequencing Dataset
%input{:type => "hidden", :id => "reftype", :value => "Sequencing Dataset"}
#selectdata
  = partial :tables, locals: {table_class: "display", table_id:"select_table", choice:"#{params[:set_name]}", first_data_to_display:@datasets, second_data_to_display:@datasets}

#showdata
  #selectedinfo
    - if params.size != 0
      %p
        = partial :info_tables, locals: {data_to_display:@infodata.where(:dataset_name => "#{params[:set_name]}"), element: "#{h params[:set_name]}", pep_count:@pep_count, type:@eletype}

  #selecteddata
    - if params.size != 0
      %p
        %input{:type => "hidden", :id => "refelem1", :value => "#{params[:set_name]}"}
        Peptides in Sequencing Dataset 
        = params[:set_name]
        = partial :tables, locals: {table_id:"pep_table", choice:"#{params[:pep_seq]}", first_data_to_display:@peptides, second_data_to_display:@peptides.where(:sequencing_datasets__dataset_name => "#{params[:set_name]}").limit(10)}

#datainfo
