%h3 
  Edit Library 
  = h params[:selElem].to_s
%form{:id => "editdata", :action => "#{url '/validate-data'}", :method => "post", :target => "notify"}
  %input{:type => "hidden", :value => "library", :name => "submittype", :id =>"submittype"}
  %input{:type => "hidden", :value => params[:selElem], :id =>"eleid"}
  %input{:type => "hidden", :value => "libraries", :id =>"tab"}
  %fieldset.libform
    %legend 
      library information:
    %p
      %label{:for => "libname"}
        %span name:
        %input{:type => "hidden", :name => "libname", :id => "libname", :value => @library[:name]} 
        %input.ui-corner-all{:type => "text", :disabled => true, :value => @library[:name]} 
    %p
      = partial :editlist, locals: {selected:@library[:encoding_scheme], label:"enc", fieldname:"encoding scheme:", listname:"enclist", listlabel:"fbenc", dbdata:@schemes, columnname: :encoding_scheme} 
    %p
      = partial :editlist, locals: {selected:@library[:carrier], label:"ca", fieldname:"carrier:", listname:"calist", listlabel:"fbca", dbdata:@carriers, columnname: :carrier} 
    %p
      = partial :editlist, locals: {selected:@library[:produced_by], label:"prod", fieldname:"produced by:", listname:"prodlist", listlabel:"fbprod", dbdata:@producers, columnname: :produced_by} 
    %p
      %label{:for => "insert"}
        %span insert length:
        %input{:type => "text", :name => "insert", :id => "insert", :value => @library[:insert_length]} 
    %p
      %label{:for => "diversity"}
        %span peptide diversity:
        %input{:type => "text", :name => "diversity", :id => "diversity", :value => @library[:peptide_diversity]} 
    %p
      %label{:for => "date"}
        %span date:
        %input{:type => "text", :name => "date", :id => "date", :placeholder => "yyyy-mm-dd", :value => @library[:date]} 
          
        
  %input{:type => "submit", :value => "update entry"}
  %input{:type => "button", :id =>"delbut",:value => "delete entry"}
#respage
  %iframe{:name => "notify", :id =>"notify"}

