%h3 
  Edit Motif list 
  = h params[:selElem].to_s
%form{:id => "editdata", :action => "#{url '/validate-data'}", :enctype => "multipart/form-data",:method => "post", :target=> "notify"}
  %input{:type => "hidden", :value => "motif", :name => "submittype", :id =>"submittype"}
  %input{:type => "hidden", :value => params[:selElem], :name => "eleid", :id =>"eleid"}
  %input{:type => "hidden", :value => "motif_lists", :name => "tab",:id =>"tab"}

  %fieldset.mlform
    %legend motif list information:
    %p
      %label{:for => "mlname"}
        %span name:
        %input{:type => "hidden", :name => "mlname", :id => "mlname", :value => params[:selElem]} 
        %input{:type => "text", :disabled => true, :value => params[:selElem]} 
        %strong 
          %abbr{:title => "required"}*
  - @motlist.each_with_index do |element, index|
    %fieldset.mlform
      %legend 
        = "motif #{index+1}: #{element[:motif_sequence]}"
      %input{:type => "hidden", :id => "mot"<<index.to_s, :name => "mot"<<index.to_s, :value => element[:motif_sequence]}
      %p.formfield
        %label{:for => "mt"<<index.to_s}
          %span target:
          %textarea{:form => "editdata", :id => "mt"<<index.to_s, :name => "mt"<<index.to_s}
            = element[:target]
      %p.formfield
        %label{:for => "mr"<<index.to_s}
          %span receptor:
          %textarea{:form => "editdata", :id => "mr"<<index.to_s, :name => "mr"<<index.to_s}
            = element[:receptor]
      %p
        %label{:for => "ms"<<index.to_s}
          %span source:
          %textarea{:form => "editdata", :id => "ms"<<index.to_s, :name => "ms"<<index.to_s}
            = element[:source]

  %input{:type => "submit", :value => "update motif list"}
  %input{:type => "button", :id => "delbut",:value => "delete"}
#respage
  %iframe{:name => "notify", :id =>"notify"}

