- if (data_to_display.class == Sequel::SQLite::Dataset && !data_to_display.all[0][:Statistics].nil?)
  = partial :modal, locals: {dataset: element, id:"aminodist",modal_title:"amino acid distribution in #{element}", modal_category:"amino-acid-dist", modal_type:""}
%p 
  - if defined? dataset
    in dataset
    = dataset
%table.table.table-bordered
  %thead
    %tr
      %th.info.text-center{:colspan => 2}
        Summary of
        = element
  %tbody
    - data_to_display.each do |info|
      - info.each do |column|
        - if column[0] == :Origin
          %tr
            %td.info.text-center{:colspan => 2} Additional information
        - if column[0] == :Species
          %tr
            %td.text-center.info{:colspan => 2}
              -if type == "Selection"
                = "Selection target "
                %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Selection_target)}
                  %span.glyphicon.glyphicon-info-sign
              -elsif type == "Sequencing Dataset"
                = "Sequencing target " 
                %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Sequencing_target)}
                  %span.glyphicon.glyphicon-info-sign
        - if column[0] == :Statistics
          %tr
            %td 
              Overall reads
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Overall_reads)}
                %span.glyphicon.glyphicon-info-sign
            %td 
              = pep_count
          %tr
            %td
              = column[0].to_s.tr('_', ' ')
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(column[0])}
                %span.glyphicon.glyphicon-info-sign
            - if column[1].nil?
              %td no statistic file available
            - else
              %td= link_to("Statistic file" ,"stats/"+element, :target => "_blank")
          - unless column[1].nil?
            %tr
              %td 
                Amino acid distribution 
                %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Amino_acid_dist")}
                  %span.glyphicon.glyphicon-info-sign
              %td 
                %button.btn-xs.btn-info{"data-toggle"=>"modal", "data-target"=>"#aminodist"} show 
        - elsif column[0] == :Dominance || column[0] == :Dominance_sum
          %tr
            %td
              = column[0].to_s.tr('_', ' ')
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(column[0])}
                %span.glyphicon.glyphicon-info-sign
            %td= format_dominance(column[1])
        - elsif column[0] == :Parameters
          %tr
            %td 
              Reads sum 
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Reads_sum)}
                %span.glyphicon.glyphicon-info-sign
            %td= reads_sum
          %tr
            %td
              = column[0].to_s.tr('_', ' ')
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(column[0])}
                %span.glyphicon.glyphicon-info-sign
            %td= column[1] 
        - elsif column[0] == :Peptide
          %tr
            %td 
              Peptide Sequence
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Peptide_sequence)}
                %span.glyphicon.glyphicon-info-sign
            %td 
              = column[1]
        - elsif column[0] == :Peptide_performance
          %tr
            %td.info.text-center{:colspan => 2}
              Peptide performance 
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:Peptide_performance)}
                %span.glyphicon.glyphicon-info-sign
          %tr
            %td{:colspan => 2}
              -if column[1].nil?
                not yet tested
              - else
                = column[1]
        - else
          %tr
            %td
              = column[0].to_s.tr('_', ' ')
              %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(column[0])}
                %span.glyphicon.glyphicon-info-sign

            - if align_right?(column[0])
              %td.text-right= column[1]
            -else
              %td= column[1]
    - if defined? dna_data 
      - if dna_data.size != 0
        %tr
          %td.info.text-center{:colspan => 2}
            DNA sequences
            %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(:DNA_sequences)}
              %span.glyphicon.glyphicon-info-sign
        - dna_data.each_pair do |seq,reads|
          %tr
            %td= seq
            %td= reads
