!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset=>'UTF-8'}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    = javascript_script_tag("/script/jquery-1.10.2.min.js", "/bootstrap/js/bootstrap.min.js","/script/main.js", "/script/jquery.dataTables.min.js", "/script/dataTables.bootstrap.js", "/script/jquery.jstree.js","/script/tableinit.js", "/script/dataTables.tableTools.min.js", "/script/ZeroClipboard.js")
    = stylesheet_link_tag("/bootstrap/css/bootstrap.css", "/layout.css", "/style.css","/dataTables.bootstrap.css", "/TableTools.css")
    = link_favicon_tag
    %style
      body{padding-top:70px;}
    %title pepDB
  %body{:role => "document"}
    %noscript#noscript-warning
      %p Important parts of pepDB's functionality rely on JavaScript, so please activate JavaScript on this site. 
    %div{:class => "navbar navbar-inverse navbar-fixed-top", :role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href=>"#"} pepDB
        %ul{:class=>"nav navbar-nav"}
          %li#home
            %a{:href=> "/"}Home
          %li#browse.dropdown
            %a.dropdown-toggle{:href=> "#", "data-toggle" => "dropdown"} 
              Data Browsing 
              %b.caret 
            %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"dLabel"}
              %li 
                = link_to("Library", "/libraries")
              %li 
                = link_to("Selection", "/selections")
              %li 
                = link_to("Sequencing Datasets", "/datasets")
              %li 
                = link_to("Cluster", "/clusters")
          %li#pepsearch.dropdown 
            %a.dropdown-toggle{:href=> "#", "data-toggle" => "dropdown"} 
              Peptide Search 
              %b.caret 
            %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"dLabel"}
              %li 
                = link_to("Systemic Search", "/systemic-search")
              %li 
                = link_to("Property Search", "/property-search")
              %li 
                = link_to("Comparative Search", "/comparative-search")
              %li 
                = link_to("Motif Search", "/motif-search")
          %li#clusearch.dropdown 
            %a.dropdown-toggle{:href=> "#", "data-toggle" => "dropdown"} 
              Cluster Search 
              %b.caret 
            %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"dLabel"}
              %li 
                = link_to("Peptide Sequence Search", "/cluster-search")
              %li 
                = link_to("Comparative Cluster Search", "/comparative-cluster-search")
          - if current_user.admin?
            %li#userman
              = link_to("User Management", "/user-management")
            %li#dataman.dropdown 
              %a.dropdown-toggle{:href=> "#", "data-toggle" => "dropdown"} 
                Data Management 
                %b.caret 
              %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"dLabel"}
                %li
                  = link_to("Add data", "/add-data") 
                %li 
                  = link_to("Edit data", "/edit-data") 
        = link_to("Logout", "/logout", :class => "btn btn-primary navbar-btn navbar-right")
        %p.navbar-text.nav
          logged in as
          = current_user.username
    .container{:role=>"main"}
      = yield
