%h3 Browse by Library
%input{:type => "hidden", :id => "reftype", :value => "Library"}
%input{:type => "hidden", :id => "navbarsec", :value => "browse"}
.row
  .col-md-3
    #selectedinfo
      - if params.size != 0
        %p 
          = partial :info_tables, locals: {data_to_display:@infodata.where(:library_name => "#{params[:lib_name]}"), element: "#{h params[:lib_name]}"}    
  .col-md-9
    #selectdata
      = partial :tables, locals: {table_class:"display", table_id:"select_table", choice:"#{params[:infoElem]}", first_data_to_display:@libraries, second_data_to_display:@libraries}
.row
  #showdata
  .col-md-3
    #datainfo
  .col-md-9#selecteddata
    - if params.size != 0
      %p 
        %input{:type => "hidden", :id => "refelem1", :value => "#{params[:ele_name]}"}
        = params[:lib_name] 
      = partial :tables, locals: {table_class:"display", table_id:"show_table", choice:"#{params[:sel_name]}", first_data_to_display:@selections, second_data_to_display:@selections.where(:library_name => "#{params[:lib_name]}")}    
