- modclass = ""
-if id == "aminodist"
  - modclass = "modal-amino"
.modal.fade{:id => id,:tabindex=>-1, :role=>"dialog", "aria-labelledby" => "#{id}label", "aria-hidden" => true}
  %div{:class => "modal-dialog #{modclass}"}
    .modal-content
      .modal-header
        %button.close{"data-dismiss"=>"modal", "aria-hidden" => true}
        %h4.modal-title{:id => "#{id}label"}  
          = modal_title
      .modal-body
        - if modal_category == "amino-acid-dist"
          = partial :amino_dist_table, locals: {distribution:get_amino_acid_dist(dataset)} 
        - else
          = get_modal_text(modal_category, modal_type)
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close

