%input{:type => "hidden", :id => "listsize", :value => @motlists.count}
.col-md-5
  #motpepinfos{"data-spy"=>"affix", "data-offset-top" => 300}
.col-md-7
  #motacc
    - if @pep_per_mots.empty?
      .alert.alert-info.pull-left
        No results found.
    - else
      - index = 0
      .panel-group#accordion
        - @pep_per_mots.each_key do |motif|
          .panel.panel-default
            .panel-heading
              %h4.panel-title 
                %a{"data-toggle" => "collapse", "data-parent" => "#accordion", :href => "#collapse#{index}"}
                  = "#{motif} <span class='glyphicon glyphicon-arrow-right'></span> #{@pep_per_mots[motif].size} hits <br />target: #{@mot_infos[motif][:target]} <br />receptor: #{@mot_infos[motif][:receptor]}"
          %div.panel-collapse.collapse{:id => "collapse#{index}"}
            .panel-body
              %table.table.table-bordered.table-striped.table-hover{:id=>"mot_table#{index}"}
                %thead
                  %tr
                    %th 
                      Peptide
                      %br
                      %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
                    
                    %th 
                      Dominance 
                      %br
                      %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
                    %th 
                      raw dominance 
                      %br
                      %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
                    %th 
                      Sequencing Dataset 
                      %br
                      %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
                %tbody
                  - @uniq_pep_per_mots[motif].each do |peptide|
                    - @dom_per_peps[peptide].each do |row|
                      %tr
                        %td<> 
                          = peptide
                        %td.text-right<>
                          = format_dominance(row[:dominance])
                        %td<>
                          = row[:dominance]
                        %td<>
                          = row[:dataset_name]
          - index += 1
        %input{:type => "hidden", :id =>"resamt", :value => index+1}            
