%input{:type => "hidden", :id => "listsize", :value => @motlists.count}
#motacc
  - if @pep_per_mots.empty?
    = "No results found."
  - else
    - @pep_per_mots.each_key do |motif|
      %h3 
        = "#{motif} hits: #{@pep_per_mots[motif].size} <br />target: #{@mot_infos[motif][:target]} <br />receptor: #{@mot_infos[motif][:receptor]}"
      %div
        %table.mot_table
          %thead.ui-widget-header
            %tr
              %th 
                peptide
                %br
                %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
              
              %th 
                dataset
                %br
                %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
              %th 
                dominance 
                %br
                %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
          %tbody.ui-widget-content
            - @uniq_pep_per_mots[motif].each do |peptide|
              - @dom_per_peps[peptide].each do |row|
                %tr
                  %td 
                    = peptide
                  %td
                    = row[:dataset_name]
                  %td.alnright
                    = format_dominance(row[:dominance])
                
