%h3 motif search
#checkboxes
  %p sequencing datasets
  %form{:id => "motsearch", :action => "#{url '/motif-search-results'}", :method => 'get'}
    .check-select#ref-library
      %fieldset.checklist
        %input{:type => "checkbox", :name => "checked_lib[]", :id => "all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :name => "checked_lib[]", :id => "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .check-select#ref-selection

    .check-select#ref-dataset

    #motif-select
      %p motifs
      .check-select#motif-list
        %fieldset.checklist
          %input{:type => "checkbox", :name => "checked_motl[]", :id => "all_motl",:value => "all_motl"}/ 
          all
          %br 
          - @motiflists.each do |elem|
            %input{:type => "checkbox", :name => "checked_motl[]", :id => "#{elem[:list_name]}",:value => "#{elem[:list_name]}"}/
            = elem[:list_name]
            %br
      #motifs

    #comp-buttons
      %fieldset.checklist  
        %label show hits
        %input{:type => "radio", :name => "searchtype", :id => "searchtype", :value => "hits"} 
        %label show non-hits 
        %input{:type => "radio", :name => "searchtype", :id => "searchtype", :value => "nonhits"} 
      %fieldset.checklist
        %input{:type => "button", :id => "clear-button",:value => "clear selection"}
        %input{:type => "submit", :id => "search", :value => "search"}
        = image_tag("/images/ajax-loader.gif", :class => "loading", :hidden => true)

#motresults

#infos
