%input{:type =>"hidden", :id => "max_len", :value => maxlen}
%table.table.table-striped.table-bordered.table-hover{:id=>"#{table_id}", :data=>{:first_choice => "#{choice}"}}<
  %thead
    %tr
      %th<>
        Peptide
        %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Peptide")}
          %span.glyphicon.glyphicon-info-sign
        %br
        %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          Sequencing dataset
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Dataset_inv")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          real dom 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          Dominance 
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Dominance")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          General specifity 
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("General_specifity")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
      - 1.upto(@maxlength) do
        %th<>
          Sequencing dataset
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Dataset_ref")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          real dom 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          Dominance 
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Dominance")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          Specifity score 
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text("Specifity_score")}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
  %tbody
    - @results.each do |row|
      %tr
        %td<>
          =row[:peptide_sequence]
        %td<>
          = params[:radio_ds]
        %td.text-right<>
          = @first_ds[row[:peptide_sequence]][0]
        %td.text-right<>
          = format_dominance(@first_ds[row[:peptide_sequence]][0])
        %td.text-right<>
          = format_score(calc_gen_spec(@first_ds[row[:peptide_sequence]][0], @specs[row[:peptide_sequence]], false))
        - Observation.where(:dataset_name => params[:ref_ds], :peptide_sequence => row[:peptide_sequence] ).all.each do |cell|
          %td<>
            = cell[:dataset_name]
          %td.text-right<>
            = cell[:dominance]
          %td.text-right<>
            = format_dominance(cell[:dominance])
          %td.text-right<>
            = format_score(calc_spec_score(@first_ds[row[:peptide_sequence]][0],cell[:dominance]))
    - @uniq_peptides.all.each do |row| 
      %tr
        %td<>
          = row[:peptide_sequence]
        %td<>
          = params[:radio_ds]
        %td.text-right<>
          = @first_ds[row[:peptide_sequence]][0]
        %td.text-right<>
          = format_dominance(@first_ds[row[:peptide_sequence]][0])
        %td.text-right<>
          1.00000
        - 1.upto(@maxlength) do |ds|
          %td<>
          %td<>
          %td<>
          %td<>
        
