%table{:id=>"#{table_id}",:class => "ui-widget", :data=>{:first_choice => "#{choice}"}}<
  %thead.ui-widget-header
    %tr
      %th<>
        peptide
        %br
        %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          dataset
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          dominance 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          general spec. 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
      - params[:ref_ds].each do
        %th<>
          dataset
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          dominance 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
        %th<>
          spec. score 
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
  %tbody.ui-widget-content
    - @results.each do |row|
      %tr
        %td<>
          =row[:peptide_sequence]
        %td<>
          = params[:radio_ds]
        %td<>
          = format_dominance(@first_ds[row[:peptide_sequence]][0])
        %td.alnright<>
          = calc_gen_spec(@first_ds[row[:peptide_sequence]][0], @specs[row[:peptide_sequence]]).round(5)
        - Observation.where(:dataset_name => params[:ref_ds], :peptide_sequence => row[:peptide_sequence] ).all.each do |cell|
          %td<>
            = cell[:dataset_name]
          %td.alnright<>
            = format_dominance(cell[:dominance])
          %td.alnright<>
            = (@first_ds[row[:peptide_sequence]][0]/cell[:dominance]).round(5)
