%h3 peptide property search
#searchbox{:class => "div-table"}
  %form{:id => "propsearch", :action => "#{url '/property-results'}", :method => "get"}
    #top
      #seqselect
        %select{:id => "type", :name => "type", :value => "#{params['type']}"}
          %option complete sequence
          %option partial sequence
          %option wildcard sequence
          %option reverse wildcard sequence
        %input.ui-corner-all{:type => "text", :id => "seq", :size => 15, :name => "seq"}
      #blossum
        %label similiar neighbour sequences 
        %input.ui-corner-all{:type => "text", :id => "blos", :size => 5, :name => "blos"}
        %label min. similarity quotient 
        %input.ui-corner-all{:type => "text", :id => "sq", :size => 5, :name => "sq", :value => 0.5}
      #bshelp
        %span{ :class => " ui-icon ui-icon-help", :id => "bsicon", :title => "Calculates for the given sequence the given number of similiar sequences.| Similarity is based on a summarized similarity score using a BLOSUM62 matrix.| Search length scales liniarily with search space."}
      #wchelp{:hidden => true}
        %span{ :class => " ui-icon ui-icon-help", :id => "wcicon", :title => "possible symbols|X = any amino acid| + = postive (KRH)|-  = negative (DE)| B = hydrophilic (TSGCNQY)|Z = hydrophobic (AVLIPMFW)|< = tiny, MW < 110 Da (AGS)|J = small, MW < 140 Da (ANDCGILPSTV)|> = bulky, MW > 140 Da (REQHKMFWY)| U = aromatic (HFWY)| e.g. [+M] => at this position K,R,H or M"}
    %fieldset#first.ui-widget-content 
      %legend general properties
      %p
        %label{:for => "l"}
          library
          = partial :formdrop, locals:{para: "l", values:@libraries, column: :library_name, required: false}
      %p
        %label{:for => "s"}
          selection
          = partial :formdrop, locals:{para: "s", values:@selections, column: :selection_name, required: false}
      %p
        %label{:for => "ds"}
          sequencing dataset
          = partial :formdrop, locals:{para: "ds", values:@datasets, column: :dataset_name, required: false}

    %fieldset#third.ui-widget-content
      %legend selection target
      %p.right-align
        %label{:for => "ts"}
          species
          = partial :formdrop, locals:{para: "ts", values:@targets.distinct.select(:species), column: :species, required: false}
      %p
        %label{:for => "tt"}
          tissue
          = partial :formdrop, locals:{para: "tt", values:@targets.distinct.select(:tissue), column: :tissue, required: false}
      %p
        %label{:for => "tc"}
          cell
          = partial :formdrop, locals:{para: "tc", values:@targets.distinct.select(:cell), column: :cell, required: false}
    %fieldset#fourth.ui-widget-content
      %legend sequencing target 
      %p
        %label{:for => "ss"}
          species
          = partial :formdrop, locals:{para: "ss", values:@targets.distinct.select(:species), column: :species, required: false}
      %p
        %label{:for => "st"}
          tissue
          = partial :formdrop, locals:{para: "st", values:@targets.distinct.select(:tissue), column: :tissue, required: false}
      %p
        %label{:for => "sc"}
          cell 
          = partial :formdrop, locals:{para: "sc", values:@targets.distinct.select(:cell), column: :cell, required: false}
    %fieldset#fifth.ui-widget-content
      %legend peptide properties
      %p
        %label max rank
        %input.ui-corner-all{:type => "text", :id => "ralt", :size => 5, :name => "ralt"}
      %p
        %label min reads 
        %input.ui-corner-all{:type => "text", :size => 5, :id => "regt", :name => "regt"}
      %p
        %label min dominance 
        %input.ui-corner-all{:type => "text", :size => 5, :id => "dgt", :name => "dgt", :value => 0.0001}

    #bottom
      %p
        %input{:type => "checkbox", :id => "tp",:name => "tp", :checked => params['tp']}
        %label only tested peptides
        %br
      %input{:type => "submit", :value => "search"}
      = image_tag("/images/ajax-loader.gif", :class => "loading", :hidden => true)

#propresults{:hidden => true}
#infos
