%table{:class => "table table-borderer table-striped table-hover #{table_id}", :data=>{:first_choice => "#{choice}"}}
  %thead
    %tr
      - first_data_to_display.first.each do |column_name|
        %th
          = column_name[0].to_s.tr('_', ' ')
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
      %th
        similarity quotient 
        %br
        %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
      %th
        real dom
        %br
        %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
  %tbody
    - second_data_to_display.each do |data_element|
      %tr
        - data_element.each do |cell_data|
          - if align_right?(cell_data[0])
            -if is_dominance?(cell_data[0])
              %td.text-right= format_dominance(cell_data[1])
            - else
              %td.text-right= cell_data[1]
            
          -else
            %td= cell_data[1]
        %td.text-right
          = format_score(@sim_quots[data_element[:peptide_sequence]])
        %td
          = data_element[:dominance]
