%input{:type => "hidden", :id => "navbarsec", :value => "pepsearch"}
%h3 systemic peptide search
.row
#checkboxes
  %form{:id => "libform", :action => "#{url '/sys-search'}", :method => 'get'}
    .check-select#ref-library
      %fieldset.checklist
        %input{:type => "checkbox", :name => "checked_lib[]", :id => "all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :name => "checked_lib[]", :id => "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .check-select#ref-selection

    .check-select#ref-dataset
.row
#comp-buttons    
  %input{:type => "button", :id => "search", :value => "search"}
  %input{:type => "button", :id => "clear-button",:value => "clear selection"}
  = image_tag("/images/ajax-loader.gif", :class => "loading", :hidden => true)

.row
#sysresults{:hidden => true}

#infos
