#checkboxes
  %form{:id => "libform", :action => "/sys-search", :method => 'post'}
    .check-select#check-library
      %fieldset
        %input{:type => "checkbox", :name => "checked_lib[]", :id => "all_lib",:value => "all_lib"}/ 
        all
        %br 
        - @libraries.each do |elem|
          %input{:type => "checkbox", :name => "checked_lib[]", :id => "#{elem[:library_name]}",:value => "#{elem[:library_name]}"}/
          = elem[:library_name]
          %br

    .check-select#check-selection
      - if !params['checked_lib'].nil?
        %fieldset
          %input{:type => "checkbox", :name => "checked_sel[]", :id=> "all_sel",:value => "all_sel"} 
            all
            %br 
          - @selections.select(:selection_name).where(:library_name => params['checked_lib']).each do |elem|
            %input{:type => "checkbox", :name => "checked_sel[]", :id => "#{elem[:selection_name]}",:value => "#{elem[:selection_name]}"}
              = elem[:selection_name]
              %br

    .check-select#check-dataset
      - if !params['checked_sel'].nil?
        %fieldset
          %input{:type => "checkbox", :name => "checked_ds[]", :id => "all_ds",:value => "all_ds"} 
            all
            %br 
          - @datasets.select(:dataset_name).where(:selection_name => params['checked_sel']).each do |elem|
            %input{:type => "checkbox", :name => "checked_ds[]", :id => "#{elem[:dataset_name]}",:value => "#{elem[:dataset_name]}"}
              = elem[:dataset_name]
              %br
    %input{:type => "button", :id => "clear-button",:value => "clear selection"}
- if !params['checked_ds'].nil? #&& params['checked_ds'].include?("all_ds")
  %p 
    peptides in all selected datasets
    = partial :tables, locals: {table_id:"show_table", choice:"all_ds", first_data_to_display:@peptides, second_data_to_display:@peptides.where(:sequencing_datasets__dataset_name => params['checked_ds'])} 

