- if defined?(table_class)
  - tclass = table_class
- else 
  - tclass = ""
%table{:id=>"#{table_id}",:class => "table table-bordered table-hover table-striped #{tclass}" , :data=>{:first_choice => "#{choice}"}}
  %thead
    %tr
      - first_data_to_display.first.each do |column_name|
        %th
          = column_name[0].to_s.tr('_', ' ')
          %a.ttips{"data-toggle"=> "tooltip", "data-html" => "true",:title => get_tooltip_text(column_name[0])}
            %span.glyphicon.glyphicon-info-sign
          %br
          %input{:type => "text", :class => "text_filter", :placeholder => "filter"}
  %tbody
    - second_data_to_display.each do |data_element|
      %tr
        - data_element.each do |cell_data|
          - if align_right?(cell_data[0])
            -if is_dominance?(cell_data[0])
              %td.text-right= format_dominance(cell_data[1])
            - else
              %td.text-right= cell_data[1]
            
          -else
            %td= cell_data[1]
